<h1>Favorites</h1>
<table class = "table">
    <thead>
        <tr>
            <th>name</th>
            <th>title</th>
            <th>image</th>
            <th></th>
        </tr>
    </thead>
    <% @favorites.each do |favorite| %>
    <tbody>
        <tr>
        <td><%= favorite.tweet.user.name %></td>
        <td><%= link_to favorite.tweet.title,(favorite.tweet) %></td>
        <td>
        <%= link_to tweet_path(favorite.tweet) do %>
            <%= attachment_image_tag favorite.tweet, :image, size: "50x50", format:"jpeg" %>
        <% end %>    
        </td>
        </tr>
    </tbody>
    <% end %>
</table>