<div class="container top-page">
    <div class="row top-contant">
            <h1 class="top-logo">a!!happy</h1>
            <p class="top-text"> ここでは毎日のちょっとした幸せを投稿しあい共有できます。<br>
            美味しくできた料理や買ってよかったもなど投稿するのはなんでもいいです。<br>
            こんな大変な時だからこそ家で家族や一人でも楽しめる何かを見つけてみませんか？
        </p>
    </div>
</div>

