<div class="container top-page">
    <div class="row top-contant">
            <h1 class="top-logo">ahappy</h1>
                <p class="top-text">
                ここでは毎日のちょっとした幸せ投稿し他のユーザーの投稿も見る事ができます。<br>
                美味しくできた料理、買ってよかった物などをいくつかあるジャンルの中から当てはまるものを何個かチェックして投稿しましょう。<br>
                こんな大変な時だからこそ家で家族や一人でも楽しめる何かを見つけてみませんか？
                </p>
    </div>
</div>

