<div class="container top-page">
  <div class="row top-contant">
    <h1 class="top-logo">ahappy</h1>
      <h3 class="top-text">
        ここで日常のちょっとした幸せを投稿してみませんか？<br>
        美味しくできた料理、買ってよかった物などをいくつかあるジャンルから選び<br>
        あなたのハッピーを投稿してみましょう。<br>
        たくさんのユーザーの投稿も見れて気に入った投稿をお気に入り登録することだってできますよ。<br>
        ここで楽しめる何かを見つけてみませんか？
      </h3>
  </div>
</div>

